<div class="contentWrap">
  <div class="indent">
    <div class="content">
<%= form_for @contact, :url => { :action => "create" }, :html => { :method => :post } do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :email, "Email"%>
  <%= f.text_field :email %>
  <br />
  <%= f.label :subject, "Subject"%>
  <%= f.text_field :subject %>
  <br />
  <%= f.label :body, "Message" %>
  <%= f.text_area :body %>
  <hr />
  <p>Are you human?</p>
  <%= f.label :verify, "3 + 1 =" %>
  <%= f.text_field :verify %>
  <br />
  <%= f.submit "Submit" %>
<% end %>

    </div>
  </div>
</div>